:root{
    font-size:  16px;
    font-family: 'Poppins', sans-serif;
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --bg-trinary: #3a3a52;
    --bg-quaternary: #2e2e44;
    --transition-speed: 600ms;
}

body{
    color:black;
    background-color: var(--bg-trinary);
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar{
    width: 0.25rem;
}

body::-webkit-scrollbar-track{
    background: #1e1e24;
}

body::-webkit-scrollbar-thumb{
    background: #6649b8;
}


main{
    margin-left: 5rem;
    padding: 1rem;
}

.navbar{
    position: fixed;
    background-color: var(--bg-primary);
    transition: width 300ms ease;
}

.navbar-nav{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: width 200ms ease;
}

.nav-item{
    width: 100%;
}
.nav-item:last-child{
    margin-top: auto;

}

.nav-link{
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
}

.nav-link:hover{
    filter: grayscale(0%) opacity(1);
    background: var(--bg-secondary);
    color: var(--text-secondary);
}

.link-text{
    display: none;
    margin-left: 1rem;
}

.nav-link svg{
    min-width: 2rem;
    margin: 0 1.5rem;
}


.fa-primary{
    color: #7e80ff
}

.fa-secondary{
    color: #4967df;
}

.fa-primary,
.fa-secondary {
    transition: var(--transition-speed);
}

.logo{
    text-align: center;
    color: var(--text-secondary);
    background: var(--bg-secondary);
    font-size:1.5rem;
    width: 100%;
    transition: width 300ms ease;
}

.logo svg{
    transform: rotate(0deg);
    transition: width 300ms ease;
}

.navbar:hover .logo svg{
    transform: translate(0) rotate(180deg); transition: width 300ms ease-in-out;

}


/*mobile*/
@media only screen and (max-width: 600px){
.navbar{
    bottom: 0;
    width: 100vw;
    height:5rem;}
    .logo{
        display: none;}
    .navbar-nav{
        flex-direction: row;}
    .nav-link{
        justify-content: center;}
    main{
        margin: 0;}
}

/*desktop*/
@media only screen and (min-width: 600px){
    .navbar{
        top: 0;
        width: 5rem;
        height: 100vh;}

    .navbar:hover{
        width: 16rem;}
    .navbar:hover .link-text{
        display: inline;
        transition: opacity var(--transition-speed);}
}
h1{
    color: var(--text-secondary);
    font-size: 3rem;
    text-align: center;
}
.text-small{
    font-size: 0.55rem;
    margin-top:0;
    padding-top: 0;
}

.status-Text{
    text-align:center;
    border-radius: 0.4rem;
    font-size: 1.5rem;
    color: var(--text-secondary);
    margin: 0 17.25rem;
    box-shadow: 0 0 0.75rem rgba(0,0,0,0.3);
    z-index:5;
}
.status-Container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 17.25rem;
    padding: 0rem;
    background: var(--bg-secondary);
    border-radius: 1rem;
    box-shadow: 0 0 1.4rem rgba(0,0,0,0);
    color: var(--text-secondary);
    z-index:2;
    height: 0;
    transition: height 2000ms ease-in-out;
}
#status-Container-all:hover{
    padding:0rem;
    margin:0;
    .status-Container{
    height: 10rem;
    transition: height 350ms ease-in-out;
}}

.status-Embed{
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--bg-secondary);
    border-radius: 0.5rem;
    box-shadow: 0 0 0.8rem rgba(0,0,0,0);
    color: var(--text-secondary);
    z-index:2;
}