@import "https://unpkg.com/open-props";
@import "https://unpkg.com/open-props/normalize.min.css";
@import "https://unpkg.com/open-props/buttons.min.css";
@import "https://unpkg.com/open-props/normalize.dark.min.css";
@import "https://unpkg.com/open-props/buttons.dark.min.css";
@import "https://unpkg.com/open-props/normalize.light.min.css";
@import "https://unpkg.com/open-props/buttons.light.min.css";
@import "https://unpkg.com/open-props/indigo.min.css";
@import "https://unpkg.com/open-props/indigo-hsl.min.css";
@import "https://unpkg.com/open-props/easings.min.css";
@import "https://unpkg.com/open-props/animations.min.css";
@import "https://unpkg.com/open-props/sizes.min.css";
@import "https://unpkg.com/open-props/gradients.min.css";
@import "https://www.unpkg.com/browse/easings@1.1.1/index.css";
:where(html){
    --animation-ease-out-5:ease-out-5;
    --animation-shake-y: shake-y .75s;
    --icon-fill: icon-fill;
    --icon-fill-hover: icon-fill-hover;
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
:where(html){
    --ease-elastic-3: ease-elastic-3;
    --ease-elastic-4: ease-elastic-4;
    --ease-3: ease-3;
    --ease-out-5: ease-out-5;
}
.sun-and-moon > :is(.moon, .sun, .sun-beams) {
    transform-origin: center;
}

.sun-and-moon > :is(.moon, .sun) {
    fill: var(--icon-fill);
}

.theme-toggle:is(:hover, :focus-visible) > .sun-and-moon > :is(.moon, .sun) {
    fill: var(--icon-fill-hover);
}

.sun-and-moon > .sun-beams {
    stroke: var(--icon-fill);
    stroke-width: 2px;
}

.theme-toggle:is(:hover, :focus-visible) .sun-and-moon > .sun-beams {
    stroke: var(--icon-fill-hover);
}

[data-theme="dark"] .sun-and-moon > .sun {
    transform: scale(1.75);
}

[data-theme="dark"] .sun-and-moon > .sun-beams {
    opacity: 0;
}

[data-theme="dark"] .sun-and-moon > .moon > circle {
    transform: translateX(-7px);
}

@supports (cx: 1) {
    [data-theme="dark"] .sun-and-moon > .moon > circle {
        cx: 17;
        transform: translateX(0);
    }
}

@media (prefers-reduced-motion: no-preference) {
    .sun-and-moon > .sun {
        transition: transform .5s var(--ease-elastic-3);
    }

    .sun-and-moon > .sun-beams {
        transition: transform .5s var(--ease-elastic-4), opacity .5s var(--ease-3);
    }

    .sun-and-moon .moon > circle {
        transition: transform .25s var(--ease-out-5);
    }

    @supports (cx: 1) {
        .sun-and-moon .moon > circle {
            transition: cx .25s var(--ease-out-5);
        }
    }

    [data-theme="dark"] .sun-and-moon > .sun {
        transition-timing-function: var(--ease-3);
        transition-duration: .25s;
        transform: scale(1.75);
    }

    [data-theme="dark"] .sun-and-moon > .sun-beams {
        transition-duration: .15s;
        transform: rotateZ(-25deg);
    }

    [data-theme="dark"] .sun-and-moon > .moon > circle {
        transition-duration: .5s;
        transition-delay: .25s;
    }
}


a:link { text-decoration: none; }


a:visited { text-decoration: none; }


a:hover { text-decoration: none; }


a:active { text-decoration: none; }
a{
    color: color(invert);
    text-decoration: none;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: absolute;
    /* Seriously, DO NOT TOUCH THIS OVERFLOW HIDDEN */
    overflow : hidden;
}
nav{
    display: flex;
    padding: 0 2%;
    justify-content: space-between;
    align-items: center;
    z-index: 6;
}
nav img{
    width: 325px;
    overflow : hidden;
    z-index: 6;
}
.nav-links{
  padding-top: 2%;
    flex: 1;
    text-align: right;
    z-index: 6;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 0px 4px;
    position: relative;
    z-index: 6;
}
.nav-links ul li a{
  padding-top: 5%;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 33px;
    z-index: 6;
}
.nav-links ul li::after{
    content: '';
    width: 0;
    height: 4px;
    background: #0d44aa;
    display: block;
    margin: auto;
    transition: 0.5s;
    z-index: 6;
}
.nav-links ul li:hover::after{
    width: 100%;}

@media(max-width: 1000px){
    .text-box h1{
        font-size: 24px
    }
    .btn {
        max-width: 100%;}
    .btn2 {
        max-width: 100%;
    }
    .nav-links ul li{
      padding-top: 5%;
        display: block;
    }
    .nav-links {
      padding-top: 5%;
        position:fixed;
        background: #011237;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 6;
        transition: 0.60s;
    }
    .image{}
    .overlay{}
}
@media(max-width: 1000px) {
    .text-box p {
        font-size: 15px;
    }

    nav img {
        position: absolute;
        width: 65%;
        top: 10px;
        margin-left: 15%;

    }

    nav .fa {
        display: block;
        color: #ffffff;
        margin: 10px;
        font-size: 24px;
        cursor: pointer;

    }
    .nav-links ul {
        padding: 30px;

    }
}

.image {
    padding-top: 8%;
    position: absolute;
    width: 100%;
    z-index: 2;
    display: block;
}

.overlay{
  padding-top: 8%;
    position:absolute;
    width:100%;
    z-index:4;
    display:block;
}
.btn:hover {
    animation:
            var(--animation-shake-y);
    transition: 1s ease-in-out;
}

.btn{
    z-index:9;
    position:absolute;
    top:30%;
    left:35%;
    color: white;
    background-color: transparent;
    height: 150px;
    width: 500px;
    cursor: pointer;
    border: 2px solid rgb(8, 47, 173);
    outline: none;
    font-size: 50px;
    font-weight: 100;

}
.btn::after{
    position:absolute;
    align-items: center;
    display: flex;
    z-index:8;
    content:"";
    width: 500px;
    height: 150px;
    background-color: transparent;
    transition: transform 0.5s ease;
}

.btn2{
    z-index:9;
    position:absolute;
    top:50%;
    left:35%;
    color: white;
    background-color: transparent;
    height: 150px;
    width: 500px;
    cursor: pointer;
    border: 2px solid rgb(8, 47, 173);
    outline: none;
    font-size: 50px;
    font-weight: 100;
}
.btn2::after{
    position:absolute;
    align-items: center;
    display: flex;
    justify-content: center;
    z-index:8;
    content:"";
    width: 500px;
    height: 150px;
    background-color: transparent;
    transition: transform 0.5s ease;
}
.btn2:hover{
    animation:
            var(--animation-shake-y);
}
@media(max-width: 1700px) {
    .btn{
        position:absolute;
        left:17%;
    }

    .btn2{
        position:absolute;
        left:17%;
    }
}
